:root {
  --var-orange-color-base: #fa904b;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch > svg {
  height: 20px;
  width: 20px;
}

.switch > .slider + svg {
  opacity: 1;
  position: absolute;
  left: 7px;
  top: 7px;
}

.switch > svg:last-child{
  opacity: 0;
}

.switch > input:checked + .slider + svg {
  opacity: 0;
  /* -webkit-transition: opacity .5s;
  transition: opacity .5s; */
}

.switch > input:checked ~ svg:last-child {
  opacity: 1;
  position: absolute;
  right: 7px;
  top: 7px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(230, 230, 230);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Overwrite for customize text decoration and color on hover */
.is-ghost:hover {
  --bulma-button-ghost-hover-decoration: none;
  color: #2196F3 !important;
}

.icon-text {
  --bulma-icon-text-spacing: none;
}

.card {
  --bulma-card-shadow: none;
  border: var(--bulma-border) solid 1px !important;
}

.is-box-shadowed-on-hover {
  transition: box-shadow 0.3s ease-in-out !important;
}

.is-box-shadowed-on-hover:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15) !important;
}

.is-scrollable-box {
  height: 100px !important;
  overflow: auto !important; 
  display: block;
}

::-webkit-scrollbar {
  width: 12px; /* Mostly for vertical scrollbars */
  height: 12px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--scrollbar-foreground);
  background: #ccc;
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
  background: transparent;
}